.BlackBtn {
    background-color: rgb(58, 50, 48) !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 12px !important;
    border: none !important;
    padding-right: 4px !important;
}
.ArrowIcon {
    margin-left: 5px;
    font-size: 18px;
}
